<div class="container" id="about">
    <div class="row">
        <div class="my-3 col-10 col-md-12 my-md-5">
            <div class="row margin_row">
                <h2 class="mt-0 mb-5 text-center about_title display-5 "><span class="display-3 text-danger ">A</span>bout</h2>
                <div class="order-1 col-12 col-md-6 order-md-1">
                    <figure>
                        <img src="./images/about.svg" alt="growthsvg">
                    </figure>
                </div>
                <div class="order-2 order-md-2 offset-md-0 left_header col-12 col-md-6 d-flex justify-content-center align-items-start flex-column">
                    <h1 class="display-5">We Are Proffetional Devoloper!</h1>
                    <h1 class="header-sec-h2">Business is the activity of making!</h1>
                    <p class="my-3">One's living or making money by producing or buying!</p>
                    <a class="text-white btn btn-success text-capitalize" href="#"> <i class="fas fa-sign-in-alt"></i> Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>