<div class="container">
    <div class="row">
        <div class="col-10 col-md-12">
            {{!-- <div class="row d-flex flex-column"> --}}
                <div class="col-12 d-flex justify-content-center align-items-center flex-column">
                    <a href="/">
                    <figure class="d-flex justify-content-center align-items-center mt-5">
                        <img src="./images/404error.gif" alt="" class="img-fluid w-50">
                    </figure>
                    </a>
                    <p>{{para}}</p>
                </div>
                {{!-- <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <h2>problem is :</h2>
                    <p>{{para}}</p>
                </div> --}}
            {{!-- </div> --}}
        </div>
    </div>
</div>

 