<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container px-4">
    <a class="navbar-brand logo " href="/"><span>N</span>odeJs<span>B</span>ook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mb-2 ms-auto navbar-nav mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/services">Services</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/registration">Ragistration</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>